<!DOCTYPE html>
<html lang="en">


<!-- login23:11-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <title>Preclinic - Medical & Hospital - Bootstrap 4 Admin Template</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!--[if lt IE 9]>
		<script src="/js/html5shiv.min.js"></script>
		<script src="/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper account-wrapper">
        <div class="account-page">
			<div class="account-center">
				<div class="account-box">
                    {{ form_start(form) }}
						<div class="account-logo">
                            <a href=""><img src="/img/logo-dark.png" alt=""></a>
                        </div>
                        {{ form_row(form.email, {'label': 'Email', 'attr':{'class': 'form-control', 'style': 'margin-bottom: 20px'}}) }}
                        {{ form_row(form.username, {'label': 'Nom d\'utilisateur', 'attr':{'class': 'form-control', 'style': 'margin-bottom: 20px'}}) }}
                        {{ form_row(form.name, {'label': 'Nom et Prenoms', 'attr':{'class': 'form-control', 'style': 'margin-bottom: 20px'}}) }}
                        {{ form_row(form.password, {'label': 'Mot de Passe', 'attr':{'class': 'form-control', 'style': 'margin-bottom: 20px'}}) }}
                        {{ form_row(form.confirm_password, {'label': 'Confirmation Mot de Passe', 'attr':{'class': 'form-control', 'style': 'margin-bottom: 20px'}}) }}
                        {{ form_row(form.roles, {'label': 'Type de Compte', 'attr':{'class': 'form-control', 'style': 'margin-bottom: 20px'}}) }}
                        {{ form_widget(form) }}
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary account-btn">ENREGISTRER</button>
                        </div>
                    {{ form_end(form) }}
                </div>
			</div>
        </div>
    </div>
    <script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
</body>


<!-- login23:12-->
</html>